@import './variables.scss';

.todolist_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: $very_light_grayish_blue;
  letter-spacing: 0.6em;
}
